#header{
  height: 80px;
  padding: 0 10%;

  h1{
    margin: 10px 0;
    width: auto;
    display: inline-block;
  }
  #logout-btn{
    display: inline-block;
    float: right;
    top: 20px;
  }
  #user-image{
    display: inline-block;
    margin: 0 20px;
  }
}

#s-container{
  margin: 0 150px;
}
