
<div id="nav" class="ui black hugn lauch right attached button">
  <i class="layout list icon"></i>
  <span class="text">
    メニュー
  </span>
</div>

<div class="ui left thin vertical sidebar menu">
  <div class="header item">
    <h3>Asacal</h3>
  </div>
  <div class="active red item">
    今日
    <div class="ui red label">2</div>
  </div>
  <% if current_user %>
    <%=link_to "トップ", user_path(current_user), class: "item" %>
  <% elsif current_official %>
    <%=link_to "トップ", official_path(current_official), class: "item" %>
  <% end %>
  <a href="/officials" class="item">
    <i class="users icon"></i>
    人気公式一覧
  </a>
  <a href="/calendars" class="item">
    <i class="calendar icon"></i>
    人気日程表一覧
  </a>
  <a href="/events" class="item">
    <i class="check icon"></i>
    人気イベント一覧
  </a>
  <% if current_official %>
    <a href="/users/edit" class="item">
      <i class="settings icon"></i>
      自分の設定
    </a>
  <% end %>
</div>
<div class="dimmed pusher"></div>
